.roomNameTh{
    width: 20%;
}

.roomSingleTh{
    width: 10%;
}

.roomDoubleTh{
    width: 14%;
}

.roomTwinTh{
    width: 10%;
}

.roomFreeSaleTh{
    width: 11%;
}

.roomGuestNumberTh{
    width: 15%;
}

.roomStatusTh{
    width: 10%;
}

.roomActionTh{
    width: 10%;
}


