<footer class="w-100">
  <div class="container-fluid">
    <div class="row centerText">
      <div class="col-md-3">Copyright &copy; 2001-2017 All Rights Reserved</div>
      <div class="col-md-9 text-right">
        MG Group, MG Building, JI. Majapahit No. 16, Jakarta Pusat 10160 | Tel: +62 21 2922 3933 | <a href="mailto:contracting@mgholidaygroup.com">contracting@mgholidaygroup.com</a> | <a href="http://www.mgholidaygroup.com">www.mgholidaygroup.com</a>
      </div>
    </div>
  </div>
</footer>
