.rateCategoryTh{
    width: 20%;
}

.roomNameTh{
    width: 20%;
}

.cancellationPolicyTh{
    width: 15%;
}

.mealPlanTh{
    width: 10%;
}

.marketTh{
    width: 15%;
}

.rateStatusTh{
    width: 10%;
}

.rateActionTh{
    width: 10%;
}
