<h1 class="mainHeading">Photos</h1>
<div class="row">
	<div class="col-md-12">
	<h2 class="topSpace pb-3">Property Photos</h2>		
	</div>
</div>
	  <div class="row pb-5">
	  <div class="col-md-10 d-flex pl-0">
         <!-- 1st Image Container -->
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid position-relative" src="assets/photosAndVideos/Room1.jpg"/>
               <div>
                  <div class="main-photo"><span id="main-photo-text">Main Photo</span></div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room2.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del">
                     <button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room3.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room2.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
		 </div>
		 <div class="col-md-2 d-flex pl-0 pr-0">
			 <div class="col-md-12 pl-0">
				<button class="placeholder_img" mat-button title="Add Photos" (click)="openDialog()"><span class="thinIcon">+</span></button>
			 </div>
		 </div>
      </div>
	  
	  	  
	  <!-- 2nd Image Containiner -->
	  
	  <div  class="row">
	   <div class="col-md-12 pb-5">
		
		<div class="row">
			<div class="col-md-12">
			<h2 class="pb-3 borderTop topSpace">Haven Double or Twin Room</h2>		
			</div>
		</div>
			
	  <div class="row pb-4">
	  <div class="col-md-10 d-flex pl-0">
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room1.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room7.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room1.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room2.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
		 </div>
		  <div class="col-md-2 d-flex pl-0 pr-0">
         <div class="col-md-12 pl-0">
            <button class="placeholder_img" mat-button title="Add Photos" (click)="openDialog()"><span class="thinIcon">+</span></button>
         </div>
      </div>
	  </div>
	        <div class="row">
			<div class="col-md-10 d-flex pl-0">
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room3.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room4.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room3.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
		
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room2.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
		  </div>
		 <div class="col-md-2 d-flex pl-0 pr-0">
			<div class="col-md-12 pl-0">
				<button class="placeholder_img" mat-button title="Add Photos" (click)="openDialog()"><span class="thinIcon">+</span></button>
			 </div>
      </div>
	  </div>
	  </div>
	  </div>
	  
	   <!-- 3rd Image Containiner -->
	  <div  class="row">
	  <div class="col-md-12 pb-5">
		  <div class="row">
			<div class="col-md-12">
			<h2 class="pb-3 borderTop topSpace">One-Bedroom Haven Suite</h2>		
			</div>
		</div>
	     <div class="row">
		 <div class="col-md-10 d-flex pl-0">
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room2.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del">
				  <button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room4.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room4.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="image-container">
               <img class="img-fluid" src="assets/photosAndVideos/Room2.jpg"/>
               <div class="overlay">
                  <div class="room-edit-del"><button mat-button class="circleIcon mr-3" title="Edit" (click)="openDialog()"><i aria-hidden="true" class="fa fa-pencil"></i></button>
                     <button mat-button class="circleIcon ml-1" title="Delete"><i aria-hidden="true" class="fa fa-times-thin"></i></button>
                  </div>
               </div>
            </div>
         </div>
		 </div>
		 <div class="col-md-2 d-flex pl-0 pr-0">
		<div class="col-md-12 pl-0">
            <button class="placeholder_img" mat-button title="Add Photos" (click)="openDialog()"><span class="thinIcon">+</span></button>
         </div>
		</div>
      </div>
	 </div>
    </div>