<div class="container-fluid">
  <div class="mt-5">
    <h2 class="mb-0">Create New Rate Category</h2>

    <div class="formSections pb-3 pt-3">
      <h5>What is the name of your rate category? *</h5>
      <div class="row">
          <div class="col-md-4">
          <mat-form-field disabled>
            <input matInput placeholder=""  required disabled/>
          </mat-form-field>
          <span class="mb-3 d-block font-italic text-right text-secondary small">This name is just of you. Not displayed to Customers</span>
        </div>
  </div>
    </div>


    <div class="formSections pb-3">
      <h2>Which room types?</h2>
    </div>

    <div class="formSections pb-3">
      <h2>Which cancellation policy?</h2>
    </div>

    <div class="formSections pb-3">
      <h2>Which meal types?</h2>
    </div>

    <div class="formSections pb-3 borderBottomNone">
      <h2>Which market?</h2>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 pl-3 mt-1 controlButtons mb-4">
        <button class="mr-2 btn activeButton" title="Save" (click)="saveRateCategory()">Save</button>
        <button class="btn defaultButton" title="Cancel" (click)="backToList()">Cancel</button>
        <button class="btn activeButton float-right" title="Continue" (click)="saveAndContinueRateCategory()">Save &amp; Continue</button>
      </div>
    </div>
</div>
</div>
